<a href="https://colab.research.google.com/github/MuntahaTazeem5/Basic-Pandas-Projects/blob/main/Movie_Ratings_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Movie Ratings Analysis***

**Scenario:** A streaming service wants to analyze movies (title, genre, rating, release_year).

 **Tasks & Instructions:**

Use .describe() → stats about ratings.

Use .info() → check datatypes (ratings → float, year → int).

Use .sort_values(by="release_year") → find oldest to newest movies.

Use .iloc[-10:] → get last 10 entries.

In [1]:
import pandas as pd

In [3]:
data = {
    "title": ["Movie A", "Movie B", "Movie C", "Movie D", "Movie E"],
    "genre": ["Action", "Comedy", "Drama", "Thriller", "Action"],
    "rating": [8.2, 6.5, 7.8, 5.9, 9.0],
    "release_year": [2010, 2015, 2020, 2005, 2022]
}

In [4]:
df=pd.DataFrame(data)

In [7]:
print("\n Ratings Summary: \n",df.describe())

 Ratings Summary:
          rating  release_year
count  5.000000      5.000000
mean   7.480000   2014.400000
std    1.263725      7.021396
min    5.900000   2005.000000
25%    6.500000   2010.000000
50%    7.800000   2015.000000
75%    8.200000   2020.000000
max    9.000000   2022.000000

In [9]:
print("Datasets Info: \n")
print(df.info())

Datasets Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         5 non-null      object
 1   genre         5 non-null      object
 2   rating        5 non-null      float64
 3   release_year  5 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes
None

In [11]:
print("Movies sorted by Release Date: \n",df.sort_values(by="release_year"))

Movies sorted by Release Date:
      title     genre  rating  release_year
3  Movie D  Thriller     5.9          2005
0  Movie A    Action     8.2          2010
1  Movie B    Comedy     6.5          2015
2  Movie C     Drama     7.8          2020
4  Movie E    Action     9.0          2022

In [15]:
print("Last 10 movies: \n",df.iloc[-10:])

Last 10 movies:
      title     genre  rating  release_year
0  Movie A    Action     8.2          2010
1  Movie B    Comedy     6.5          2015
2  Movie C     Drama     7.8          2020
3  Movie D  Thriller     5.9          2005
4  Movie E    Action     9.0          2022